@page "/admin/courses"
@page "/admin"
@inherits OwningComponentBase<IPOSRepository>
<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Course Number</th>
            <th>Description</th>
            <th>Credits</th>
            <td />
        </tr>
    </thead>
    <tbody>
        @if (CourseData?.Count() > 0)
        {
            @foreach (Course p in CourseData)
            {
                <tr>
                    <td>@p.CourseID</td>
                    <td>@p.CourseNumber</td>
                    <td>@p.Description</td>
                    <td>@p.Credits.ToString()</td>
                    <td>
                        <NavLink class="btn btn-info btn-sm"
                         href="@GetDetailsUrl(p.CourseID ?? 0)">
                            Details
                        </NavLink>
                        <NavLink class="btn btn-warning btn-sm"
                         href="@GetEditUrl(p.CourseID ?? 0)">
                            Edit
                        </NavLink>
                        <button class="btn btn-danger btn-sm"
                        @onclick="@(e => DeleteCourse(p))">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No Courses</td>
            </tr>
        }
    </tbody>
</table>
<NavLink class="btn btn-primary" href="/admin/courses/create">Create</NavLink>
@code {
    public IPOSRepository Repository => Service;
    public IEnumerable<Course> CourseData { get; set; }
        = Enumerable.Empty<Course>();
    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }
    public async Task UpdateData()
    {
        CourseData = await Repository.Courses.ToListAsync();
    }
    public async Task DeleteCourse(Course p)
    {
        Repository.DeleteCourse(p);
        await UpdateData();
    }
    public string GetDetailsUrl(long id) => $"/admin/courses/details/{id}";
    public string GetEditUrl(long id) => $"/admin/courses/edit/{id}";
}